n8n/workflows/navissi-operacion-retail.json
{"name":"NAVISSI · Operación retail cada 15 minutos","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"schedule","name":"Cada 15 minutos","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[260,300]},{"parameters":{"jsCode":"const crypto = require('crypto');\nconst body = JSON.stringify({action:'run', correlation_id:`n8n-${new Date().toISOString().slice(0,16)}`});\nconst secret='REEMPLAZAR_SECRETO_HMAC';\nreturn [{json:{body,signature:crypto.createHmac('sha256',secret).update(body).digest('hex')}}];"},"id":"sign","name":"Firmar solicitud NAVISSI","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,300]},{"parameters":{"method":"POST","url":"REEMPLAZAR_URL_NAVISSI/api_automatizaciones.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Navissi-Signature","value":"={{ $json.signature }}"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ $json.body }}"},"id":"run","name":"Ejecutar automatizaciones","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[760,300]}],"connections":{"Cada 15 minutos":{"main":[[{"node":"Firmar solicitud NAVISSI","type":"main","index":0}]]},"Firmar solicitud NAVISSI":{"main":[[{"node":"Ejecutar automatizaciones","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1"},"tags":[]}
